{{!-- footerSection --}}
    <footer class="page-footer" style="background: var(--bgColor);">
        <div class="container">
            <div class="row">
                <div class="col l3 m3 s12 black-text">
                    <img src="/PTS _Logo.svg" alt="" width="100rem">
                    <p>Phone: +91 9906270539</p>
                    <p>Mail: bhaainichaal@gmail.com</p>
                     <ul>
                        <li><a class="grey-text" href="#!">Link 1</a></li>
                        <li><a class="grey-text" href="#!">Link 2</a></li>
                        <li><a class="grey-text" href="#!">Link 3</a></li>
                        <li><a class="grey-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 m3 s12 black-text">
                    <h6>Services</h6>
                    <ul>
                        <li><a class="grey-text" href="#!">Link 1</a></li>
                        <li><a class="grey-text" href="#!">Link 2</a></li>
                        <li><a class="grey-text" href="#!">Link 3</a></li>
                        <li><a class="grey-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 m3 s12 black-text">
                    <h6>About Us</h6>
                    <ul>
                        <li><a class="grey-text" href="#!">Link 1</a></li>
                        <li><a class="grey-text" href="#!">Link 2</a></li>
                        <li><a class="grey-text" href="#!">Link 3</a></li>
                        <li><a class="grey-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 m3 s12 black-text">
                    <h6>Social Networks</h6>
                    <ul>
                        <li><a class="grey-text" href="#!"></a></li>
                        <li><a class="grey-text" href="#!">Link 2</a></li>
                        <li><a class="grey-text" href="#!">Link 3</a></li>
                        <li><a class="grey-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright center" style="background: var(--themeColor)">
        <div class="container">
        © 2019 Copyright by PTS Team
        </div>
        </div>
    </footer>
    