    {{!-- navSection --}}
    <section class="navSection">
        <div class="">
            <nav>
                <div class="nav-wrapper container">
                <a href="#!" class="brand-logo"><img src="/PTS _Logo.svg" alt="PTS_logo"><span class="logoName">PTS</span></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Home</a></li>
                    <li><a href="badges.html">About</a></li>
                    <li><a href="collapsible.html">Faculty</a></li>
                    <li><a href="mobile.html">Student</a></li>
                    <li><a href="mobile.html">Contact</a></li>
                </ul>
                </div>
            </nav>            
        </div>
        

        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Home</a></li>
            <li><a href="badges.html">About</a></li>
            <li><a href="collapsible.html">Faculty</a></li>
            <li><a href="mobile.html">Student</a></li>
            <li><a href="mobile.html">Contact</a></li>
        </ul>
    </section>