{{>header}}

<div class="container">

{{!-- introSection --}}
    <section id="introSection">
        <div class="row">
            <div class="col m6 s12">
                <h2 class="heading">Our creativity is your success</h2>
                <p class="para">We break all boundaries if they happen on our way of project’s development!</p>
                <a href="#" class=" btn btn-large btn1">Learn More</a>
                <a href="#" class="btn btn-large btn2">Watch Video&nbsp;&nbsp;&nbsp;<span class="btn-floating btn-small"><i class="material-icons">play_arrow</i></span></a>
            </div>
            <div class="col m6 s12">
                <img src="/images/undraw_Organizing_projects_0p9a.svg" alt="introImg" class="responsive-img">
            </div>
        </div>
    </section>
{{!-- *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ --}}

{{!-- secondSection --}}
    <section id="secondSection">
        <div class="row">
            <div class="col m6 s12">
                <img src="/images/undraw_contact_us_15o2.svg" alt="home2" class="responsive-img">
            </div>
            <div class="col m6 s12">
                <h2 class="heading">Creative challenges are our passion</h2>
                <p class="para">Our designers and developers work closely together to build a creative and positive working environment. Functionality is as important to us as aesthetics.</p>
                <a href="#" class=" btn btn-large btn1">Read More</a>
                <a href="#" class="btn btn-large btn2">Contact Us</a>
            </div>
        </div>
    </section>
{{!-- *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ --}}

{{!-- serviceSection --}}
    <section id="serviceSection">
        <div class="row">
            <div class="col m6 s12">
                <h2 class="serviceHeading">We provide a wide range of creative services</h2>
            </div>
        </div>
        <div class="cardSection">             
            <div class="row firstRow">
                <div class="col m4 s12">
                    <div class="card-panel">
                        <a href="#"><i class="material-icons">brush</i></a>
                        <h4 class="subHeading">Web designing & Branding</h4>
                        <p class="para">A great brand combines design and messaging to evoke emotion in your customers and drive strategy.</p>
                        <p class="readMore">READ MORE... <span class="right"><i class="material-icons">arrow_forward</i> </span></p>
                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">
                        <a href="#"><i class="material-icons">code</i></a>
                        <h4 class="subHeading">Graphic Design</h4>
                        <p class="para">A great brand combines design and messaging to evoke emotion in your customers and drive strategy.</p>
                        <p class="readMore">READ MORE... <span class="right"><i class="material-icons">arrow_forward</i> </span></p>
                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">
                        <a href="#"><i class="material-icons">settings</i></a>
                        <h4 class="subHeading">Video Production</h4>
                        <p class="para">A great brand combines design and messaging to evoke emotion in your customers and drive strategy.</p>
                        <p class="readMore">READ MORE... <span class="right"><i class="material-icons">arrow_forward</i> </span></p>
                    </div>
                </div>
            </div>

            <div class="row SecondtRow">
                <div class="col m4 s12">
                    <div class="card-panel">
                        <a href="#"><i class="material-icons">spa</i></a>
                        <h4 class="subHeading">SEO</h4>
                        <p class="para">A great brand combines design and messaging to evoke emotion in your customers and drive strategy.</p>
                        <p class="readMore">READ MORE... <span class="right"><i class="material-icons">arrow_forward</i> </span></p>
                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">
                        <a href="#"><i class="material-icons">pie_chart</i></a>
                        <h4 class="subHeading">Digital Marketing</h4>
                        <p class="para">A great brand combines design and messaging to evoke emotion in your customers and drive strategy.</p>
                        <p class="readMore">READ MORE... <span class="right"><i class="material-icons">arrow_forward</i> </span></p>
                    </div>
                </div>

                <div class="col m4 s12">
                    <div class="card-panel">
                        <a href="#"><i class="material-icons">forum</i></a>
                        <h4 class="subHeading">Infographics</h4>
                        <p class="para">A great brand combines design and messaging to evoke emotion in your customers and drive strategy.</p>
                        <p class="readMore">READ MORE... <span class="right"><i class="material-icons">arrow_forward</i> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{!-- *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ --}}

{{!-- contactUsSection --}}
    <section id="contactUsSection">
        <div class="row">
            <div class="col m6 s12">
                <h2 class="contactUsHeading">If you have any <br>questions, please <br>contact us</h2>
                <p class="para">Our professional support team try to do their best to provide you with high-quality consultations concerning any questions about our services.</p>
                <a href="#" class=" btn btn-large btn1">Read More</a>
                <a href="#" class="btn btn-large btn2">Get In Touch</a>
            </div>
            <div class="col m6 s12">
                <img src="/images/home-7-423x565.png" alt="home3">
            </div>
        </div>
    </section>
{{!-- *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ --}}

{{!-- workSection --}}
    <section id="workSection">
        <h3 class="subHeading">Our work process</h3>
        {{!-- firstNumber --}}
        <div class="row numbers">
            <div class="col m3 offset-m2">
                <img src="/images/home-3-234x264.png" alt="" class="responsive-img">
            </div>
            <div class="col m1">
                <a href="#" class="btn-floating btn-large">01</a>
            </div>
            <div class="col m5 s12">
                <h2 class="heading">Meeting With The Customer</h2>
                <p class="para">The first meeting is very important to get acquainted and discuss the main ideas of the project.</p>
            </div>
        </div>
        {{!-- secondNumber --}}
        <div class="row numbers">
            <div class="col m1 offset-m2">
                <a href="#" class="btn-floating btn-large">02</a>
            </div>
            <div class="col m5 s10">
                <h2 class="heading">We Consider And Analyze The Work Plan</h2>
                  <p class="para">When we understand the main ideas, we proceed to discuss the work plan and analyze it.</p>
            </div>
            <div class="col m3 s12">
                <img src="/images/home-4-279x267.png" alt="" class="responsive-img">
            </div>
        </div>
        {{!-- thirdNumber --}}
        <div class="row numbers">
            <div class="col m3 offset-m2">
                <img src="/images/home-5-356x206.png" alt="" class="responsive-img">
            </div>
            <div class="col m1">
                <a href="#" class="btn-floating btn-large">03</a>
            </div>
            <div class="col m5 s12">
                <h2 class="heading">Meeting With The Customer</h2>
                <p class="para">The first meeting is very important to get acquainted and discuss the main ideas of the project.</p>
            </div>
        </div>
        {{!-- fourthNumber --}}
        <div class="row numbers">
            <div class="col m1 offset-m2">
                <a href="#" class="btn-floating btn-large">04</a>
            </div>
            <div class="col m5">
                <h2 class="heading">We Consider And Analyze The Work Plan</h2>
                <p class="para">When we understand the main ideas, we proceed to discuss the work plan and analyze it.</p>
            </div>
            <div class="col m3">
                <img src="/images/home-6-331x279.png" alt="" class="responsive-img">
            </div>
        </div>
        {{!-- fifthNumber --}}
        <div class="row numbers">
            <div class="col m3 offset-m2">
                <img src="/images/home-6-255x268.png" alt="" class="responsive-img">
            </div>
            <div class="col m1">
                <a href="#" class="btn-floating btn-large">05</a>
            </div>
            <div class="col m5 s12">
                <h2 class="heading">Meeting With The Customer</h2>
                <p class="para">The first meeting is very important to get acquainted and discuss the main ideas of the project.</p>
            </div>
        </div>  
    </section>

{{!-- *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ --}}

    {{!-- chatSection --}}
    <section id="chatSection">
        <div class="row">
            <div class="col m6 s12">
                <img src="/images/undraw_chatting_2yvo.svg" alt="chatting" class="responsive-img">
            </div>
            <div class="col m6 s12">
                <div class="card-panel">
                    <h3 class="heading">Get in touch with our team</h3>
                    <div class="row">
                        <form class="col s12">
                            <div class="input-field col s12">
                                <input id="input_text" type="text" data-length="25" placeholder="Your Name">
                            </div>
                            <div class="input-field col s12">
                                <input id="input_text" type="text" data-length="10" placeholder="Phone">
                            </div>
                            <div class="input-field col s12">
                                <input id="input_text" type="text" data-length="120" placeholder="Your Message">
                            </div>
                            <div class="input-field col s12">
                                <a href="#" class="btn btn-large btn1">Send</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
            
</div>
{{>footer}}